
<!-- navbar -->
<body>
  <header class="hhh">
    <nav class="navbar">
      <img src = "https://logodix.com/logo/1981896.png" width = "100px" height = "auto">
      <ul>
        <li><a routerLink="about" class="fa fa-home"> Home</a></li>
        <li class="dropdown">
          <a class="dropbtn" data-toggle="dropdown"class="fa fa-sign-in" routerLink="login"> Login</a>
        </li>
        <li class="dropdown">
          <a class="dropbtn" data-toggle="dropdown" class="fa fa-user" routerLink="register"> Register</a>
        </li>
        <li><a href="#" routerLink="about" class="fa fa-bars"> About</a></li>
      </ul>
      <!-- <div class="search">
        <input type="text" placeholder="Search Location" name="search" id="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </div> -->
    </nav>
  </header>
  </body>
  










<!-- login form  -->
<div class="login-main-container">
  <div class="login_form_container">
    <div class="login_form">
      <h2> Login</h2>
      <form action="/examples/actions/confirmation.php" method="post"  #loginForm="ngForm" (ngSubmit)="submitForm(loginForm.value)" novalidate>
      <div class="input_group">
        <i class="fa fa-user"></i>
        <input
          type="text" placeholder="Username"class="input_text" autocomplete="off" name="userEmail"  id="userEmail" required ngModel #userEmail="ngModel"/>
          <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="input_group">
        <i class="fa fa-unlock-alt"></i>
        <input
          type="password"
          placeholder="Password" class="input_text" autocomplete="off" name="password" id="password" required ngModel #password="ngModel"/>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="button_group">
        <input  [disabled]="loginForm.invalid"  type="submit" id="login_button"  class="login_button"  value="Login">
      </div>
      <div class="fotter">
        <div class="border">
  
          <a href="" class="btn btn-block btn-outline-primary btn-google" (click)="signInWithGoogle()" > <img src="./../../assets/google.png"   alt="" />  sign in via google</a>
        </div>
     
      </div>
      <div class="reg-link">
        <div class="signup-link">Don't have account ?  <a href="#" routerLink="register" >register</a></div>
      </div>
    </form>
    </div>
  </div>
</div>