<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pricing - Coding Power</title>
</head>
<body>
    
   <div class="container">
       <div class="card">
           <div class="card-title">
               <h2>Single Share</h2>
               <p><i class="fa fa-rupee"></i><Span>10000</Span>/month</p>
           </div>
           <div class="card-content">
               <ul>
                <li><i class="fa fa-check-circle"></i>Wifi Facility</li>
                <li><i class="fa fa-check-circle"></i>Homely Nature</li>
                <li><i class="fa fa-check-circle"></i>Refrigerator</li>
                <li><i class="fa fa-check-circle"></i>A.C Rooms</li>
                <li><i class="fa fa-check-circle"></i>Food Door delivery</li>
                <li><i class="fa fa-check-circle"></i>24/7 Support</li>
               </ul>
               <button><a href="#" routerLink="payments">Book Now</a></button>
           </div>
       </div>
      
       <div class="card">
           <div class="card-title">
               <h2>Two Share</h2>
               <p><i class="fa fa-rupee"></i><Span>8500</Span>/month</p>                    
           </div>
           <div class="card-content">
               <ul>
                   <li><i class="fa fa-check-circle"></i>Wifi Facility</li>
                   <li><i class="fa fa-check-circle"></i>Homely Nature</li>
                   <li><i class="fa fa-check-circle"></i>Security</li>
                   <li><i class="fa fa-check-circle"></i>Refrigerator</li>
                   <li><i class="fa fa-check-circle"></i>A.C Rooms</li>
                   <li><i class="fa fa-check-circle"></i>24/7 Support</li>
               </ul>
               <button><a href="#" routerLink="payments">Book Now</a></button>
           </div>
       </div>
    
       <div class="card">
           <div class="card-title">
               <h2>Four Share</h2>
               <p><i class="fa fa-rupee"></i><Span>7000</Span>/month</p>
           </div>
           <div class="card-content">
               <ul>
                <li><i class="fa fa-check-circle"></i>Wifi Facility</li>
                <li><i class="fa fa-check-circle"></i>Homely Nature</li>
                <li><i class="fa fa-check-circle"></i>Security</li>
                <li><i class="fa fa-check-circle"></i>Refrigerator</li>
                <li><i class="fa fa-check-circle"></i>Rooms with free ventilation</li>
                <li><i class="fa fa-check-circle"></i>24/7 Support</li>
               </ul>
               <button><a href="#" routerLink="payments">Book Now</a></button>
           </div>
       </div>
    </div>

</body>
</html>