
<!-- <app-location-detector></app-location-detector> -->      
<!-- <app-register></app-register> -->


 <!-- <app-bill></app-bill> -->
<!-- <app-login></app-login> -->
  <!-- <app-about></app-about> -->
<!-- <app-hostelregistration></app-hostelregistration>  -->
<!-- <app-image></app-image> -->
<!-- <app-otp-verification></app-otp-verification> -->              
<!-- <app-register></app-register> -->
<!-- <app-showcustomers></app-showcustomers> -->
 <!-- <app-userheader></app-userheader>  -->
 <!-- <app-header2></app-header2> -->
 <!-- <app-hostelheader></app-hostelheader> -->
<!-- <app-card></app-card>  -->
<!-- <app-payments></app-payments> -->
<!-- <app-header2></app-header2> -->
<!-- <app-home></app-home> -->  
<!-- <app-showhostels></app-showhostels> -->

<!-- <app-share></app-share> -->                     
<!-- <app-header></app-header>  -->
 <router-outlet></router-outlet> 
        