<!-- <div class="register-main-container">
    <div class="login_form_container">
      <div class="login_form">
        <h2>Admin Registration</h2>
  
        <div class="input_group">
          <form class="was-validated" #regForm="ngForm" (ngSubmit)="registeradmin(regForm.value)" novalidate>
  
            <div class="input_group">
              <i class="fa fa-user" style="font-size:20px"></i>
            <input type="text" placeholder="Hostel Name" class="input_text" id="firstName" name="hst_name" minlength="3"
              required ngModel #hst_name="ngModel" autocomplete="off" aria-required="true">
              <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            </div>
  
                                                                 
  
  
           
  
            <div class="input_group">
              <i class="fa fa-user" style="font-size:20px"></i>
              <input type="text" class="input_text" type="text" placeholder="Owner Name" id="owner_nam" name="owner_nam"
                minlength="3" required ngModel #owner_nam="ngModel" autocomplete="off">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
  
           
          
  
              <div class="input_group">
                <i class="fa fa-envelope" style="font-size:20px"></i>
                <input type="emailId" class="input_text" id="emailId" name="emailId" placeholder="EmailId" required ngModel
                  #emailId="ngModel">
                  <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
              </div>
  
            
  
           
  
            <div class="input_group">
              <i class="fa fa-phone" style="font-size:20px"></i>
              <input type="text" class="input_text" id="hst_num" name="hst_num" placeholder="Mobile Number"
                pattern="[0-9]{10}" required ngModel #hst_num="ngModel">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
  
            
  
            
           
  
  
            <div class="input_group">
              <i class="fa fa-unlock-alt" style="font-size:20px"></i>
              <input type="password" class="input_text" placeholder="Password" id="password" name="password" minlength="8"
                required ngModel #password="ngModel">
                <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div> 
            </div>
  
             
          
            <div class="input_group">
              <i class="fa fa-map-marker" style="font-size:24px"></i>
              <input type="text" class="input_text" placeholder="Area Name" id="area" name="area" minlength="8"
                required ngModel #area="ngModel">
                <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div> 
            </div>
  
  
  
            <div class="buttonn">
  
              <button  [disabled]="regForm.invalid"   type="submit" class="btn btn-primary bb signup-btn">Sign up</button>
  
            </div>
            <div class="reg-link">
              <div class="signup-link">Already have account ?  <a href="#" routerLink="loginhostel" >Login here</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
   -->