








<!-- nav bar -->
<header class="hhh">
	<nav class="navbar">
	  <img src = "https://logodix.com/logo/1981896.png" width = "170" height = "120">
	  <ul>
		<li class="dropdown"> 
		</li>
		<li><a routerLink="showcustomers"><i class="fa fa-home" aria-hidden="true"></i> Profile</a></li>
		<li><a routerLink="bill"><i class="fa fa-home" aria-hidden="true"></i> view orders</a></li>
		<li><a routerLink="header" (click)="setLogoutStatus()"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a></li> 
	  </ul> 
	</nav>
  </header>
















<!-- <div id="invoice-POS" *ngFor="let product of this.list"> 
    <div class="logo"></div>
        <div class="info"> 
            <img src = "https://logodix.com/logo/1981896.png" width = "100" height = "70">
          
        </div>
  
  <h2>Contact Info</h2>
    <div id="mid">
      <div class="info">
     
        <p> 
            Address : Gacchibowli,Hyd<br>
            Email   : payment@gmail.com<br>
            Phone   : 9182458768
        <br>
        </p>
      </div>
    </div>
    
    <div id="bot">
					<div id="table">
						<table>
							

							<tr class="service">
								<td class="tableitem">FullName:{{product.fullName}}</td>
								
							</tr>

							<tr class="service">
								<td class="tableitem">EmailID:{{product.email}}</td>
								
							</tr>

							<tr class="service">
								<td class="tableitem">City:{{product.city}}</td>
								
							</tr>
							<tr class="service">
								<td class="tableitem">State:{{product.state}}</td>
								
							</tr>

							<tr class="service">
								<td class="tableitem">Date:{{product.date}}</td>
								
							</tr>
							<tr class="service">	
							</tr>
							<tr class="service">
								<td class="tableitem">Zip code:{{product.zipCode}}</td>
								
							</tr>
							<tr class="service">
								<td class="tableitem">Time:{{product.time}}</td>
								
							</tr>
							<tr class="service">
								<td class="tableitem">Price:{{product.price}}</td>
								
							</tr>     
							<tr class="service">
								<td class="tableitem">Share:{{product.price }}</td>
								
							</tr>
							<a onClick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)"
							href="#" download="page.html">Download</a>
						</table>
					</div>
					<div id="legalcopy"> 
						<p class="legal"><strong></strong> Payment is expected within 31 days; please process this invoice within that time. There will be a 5% interest charge per month on late invoices. 
						</p>
                  <img src="https://cdn.shopify.com/s/files/1/1431/5776/products/floral-wreath-thank-you-stamp_grande.png?v=1501622501" width="200" height="0.00001"> 
      
                  <img src="https://cdn.shopify.com/s/files/1/1431/5776/products/floral-wreath-thank-you-stamp_grande.png?v=1501622501" width="70" height="80"> 
		</div>
  </div> -->






  <div id="invoice-POS"  *ngFor="let product of this.list" >
    
 
    <div class="logo"></div>
        <div class="info"> 
            <img src = "https://logodix.com/logo/1981896.png" width = "150" height = "100">
          
        </div><!--End Info-->
  <!--End InvoiceTop-->
  <h2>Thanks For Your Business</h2>
    
  <div class="border-line"></div>
    <div id="bot">
        <div id="table">
            <table>
                <tr class="service">
                    <td class="tableitem">Full Name:</td>
                    <td class="tableitem">{{product.fullName}}</td>
                </tr>
                <tr class="service">
                    <td class="tableitem">Email Id:</td>
                    <td class="tableitem">{{product.email}}</td>
                </tr>
                <tr class="service">
                    <td class="tableitem">City:</td>
                    <td class="tableitem">{{product.city}}</td>
                </tr>
                <!-- <tr class="service">
                    <td class="tableitem">Price:</td>
                    <td class="tableitem">{{list.price}}</td>
                </tr> -->
                <tr class="service">
                    <td class="tableitem">State:</td>
                    <td class="tableitem">{{product.state}}</td>
                </tr>
                <tr class="service">
                    <td class="tableitem">Date of Joining:</td>
                    <td class="tableitem">{{product.date}}</td>
                </tr>
                <tr class="service">
                </tr>

                <tr class="service">
                    <td class="tableitem">Zip Code:</td>
                    <td class="tableitem">{{product.zipCode}}</td>
                </tr>
                <tr class="service">
                    <td class="tableitem">Booking Date:</td>
                    <td class="tableitem">{{product.time}}</td>
                </tr>
              
            </table>
            
           
        </div>
    </div>
    <div class="border-line"></div>


    <div id="bot">
        <div id="table">
    
   
    <tr class="service">
        <td class="tableitem">Price:</td>
        <td class="tableitem">{{product.price}}</td>
    </tr>

  </div></div>
  

    <div class="border-line"></div><br>
    
	<a onClick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)"
	href="#" download="page.html"> Download</a>
   <div class="h5"> 
      <i class="fa fa-map-marker" aria-hidden="true"></i> street city, state 0000,
       JohnDoe@gmail.com,
        555-555-5555  </div> 
         
   

					<div id="legalcopy">

                        
						<p class="legal"><strong></strong> Payment is expected within 31 days; please process this invoice within that time. There will be a 5% interest charge per month on late invoices. 
						</p>
                 
      


                 
                  <div class="h5"> 
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>..Thanks For Being A Great Customer To Us, Vist Again<i class="fa fa-handshake-o" aria-hidden="true"></i>
                     </div> 

                  

                 <div class="you"> <img src="https://www.freeiconspng.com/thumbs/thank-you-png-icon/thank-you-png-icon-4.png" width="70" height="80"> </div>





                  
				</div>
  </div>