*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
  }
  
  .payment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background-position: center;
    background-image: url(./../../assets/home-page.jpg);
width: 100%;
  }
  
  .payment-container form{
    padding:20px;
    width:700px;
    background-color: rgba(15, 16, 16, 0.853);
  }
  
  .payment-container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .payment-container form .row .col{
    flex:1 1 250px;
  }
  
  .payment-container form .row .col .title{
    font-size: 20px;
    color: cyan;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .payment-container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .payment-container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
    /* color: rgb(11, 12, 11); */
    color: white;
  }
  
  .payment-container form .row .col .inputBox input{
    width: 100%;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
    border-radius: 10px;
    background-color: #e5dede;
  }
  
  .payment-container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .payment-container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .payment-container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .payment-container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }

  .submit-btn{
    padding: 10px;
    background-color:blue;
    color:whitesmoke;
  }
   .submit-btn:hover{
    background: red;
  }
  .buttonl{
    margin-left: 222px;
    padding: 10px;
  }
  