<h2>Login</h2>
<!-- <form #loginForm="ngForm" (ngSubmit)="validateUser(loginForm.value)" novalidate>
<input type="text" name="loginId" placeholder="Enter login Id" ngModel #loginId="ngModel" required ><br/>
<input type="password" name="password" placeholder="Enter Password" ngModel #password="ngModel"
required minlength="4" maxlength="10"><br/>
<button [disabled]="!loginForm.valid">Login</button>
</form>
<div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touhed)">invalid error occurred</div>
<div class="text-danger">
<div *ngIf="loginId.errors?.required">Please enter login id..</div>
<div *ngIf="password.errors?.minlength">Please enter 4 characters..</div>
<div *ngIf="password.errors?.required">Please enter password..</div>
</div> -->

<div class="jumbotron bg-transparent text-center">
    <div *ngIf="!user" class="card text-center">
      <h6 class="card-header">
        Social Login Demo
      </h6>
      <div class="card-block">
        <h4 class="card-title">Not signed in</h4>
        <p class="card-text">Sign in with</p>
      </div>
      <div class="card-block">
        <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
        <!-- <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
        <button class="btn btn-social-icon btn-linkedin mx-1" (click)="signInWithLinkedIn()" disabled><span class="fa fa-linkedin"></span></button> -->
      </div>
    </div>
  </div>
